/* Estilos comunes */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

h1,
h2,
h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

p {
    font-size: 14px;
}

.bold-text {
    font-weight: bold;
}

.emphasis-text {
    font-style: italic;
}

a {
    color: #6188FF;
    transition: color 0.3s ease;
}

a:hover {
    color: #415EA3;
}

/* Estilos para el modo oscuro */
.theme-dark {
    background: #101d21;
}

.theme-dark .card-text,
.theme-dark h2 {
    color: #ecdfdb;
}

.theme-dark a {
    color: #6188FF;
    text-decoration: none;
    transition: color 0.3s ease;
}

.theme-dark a:hover {
    color: #415EA3;
}

.theme-dark i {
    fill: #FFFFFF;
    color: #FFFFFF;
    transition: fill 0.3s ease, color 0.3s ease;
}

.theme-dark i:hover {
    fill: #415EA3;
    color: #415EA3;
}

.theme-dark .badge {
    fill: #FFFFFF;
    padding: 5px 10px;
    /* Ajusta el relleno según sea necesario */
    border: 2px solid #ccc;
    /* Ancho y color del borde */
    border-radius: 20px;
    /* Redondea las esquinas del badge */
    margin-bottom: 4px;
}

/* Estilos para el modo claro */
.theme-light .badge {
    padding: 5px 10px;
    /* Ajusta el relleno según sea necesario */
    border: 1px solid #000;
    /* Ancho y color del borde en modo claro */
    border-radius: 20px;
    /* Redondea las esquinas del badge */
    color: #fff;
    /* Color del texto en modo claro */
    background-color: #415EA3;
    /* Color de fondo en modo claro */
}

/* Estilos de las tarjetas */
.card {
    background: transparent;
    border: 1px solid #ccc;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.card-text {
    /*color: */
}

.card-title {
    /*color: */
    font-size: 16px;
    margin-bottom: 8px;
    transition: color 0.3s ease;
}

.card:hover {
    transform: translateY(-8px) rotate(-1deg);
    box-shadow: 0 1px 2px;
}

.card:hover .card-title {
    /*color: */
}

.banner_img {
    animation: movimiento 3.0s linear infinite;
}

.badge-container {
    margin-top: 10px;
}

.badge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 4px;
    margin-bottom: 4px;
}

.social-icons a {
    /*color: */
    font-size: 24px;
    margin-right: 8px;
}

.social-icons a:hover {
    /*color: */
}

/* Estilos del toggle */
.toggle-switch {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
}

.toggle-switch input {
    display: none;
}

.toggle-switch i {
    /*color: */
    font-size: 23px;
    padding-left: 2px;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

/* Animación */
@keyframes movimiento {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

#sun-icon,
#moon-icon {
    cursor: pointer;
    margin-bottom: 4px;
}

/* Estilos de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 8px;
    /* Ancho de la barra de desplazamiento */
}

/* Estilos del pulgar de desplazamiento */
::-webkit-scrollbar-thumb {
    background-color: #415EA3;
    /* Color de fondo del pulgar de desplazamiento */
    border-radius: 3px;
    /* Radio de borde del pulgar de desplazamiento */
}

/* Cambia el color de la barra de desplazamiento cuando está sobre ella */
::-webkit-scrollbar-thumb:hover {
    background-color: #6188FF;
    /* Cambia el color de fondo del pulgar de desplazamiento al pasar el ratón */
}
aside {
    padding: 0 24px 0 24px;
}
/* Estilos para dispositivos con una pantalla de 800px o más */
@media (min-width: 768px) {

    /* Aplica el contenedor flex y justifica el contenido al final */
    body {
        display: flex;
        justify-content: flex-end;
    }

    /* Estilos para la barra lateral */
    aside {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        overflow-y: auto;
        width: 25%;
        /* background-color: #fff; */
        /* Color de fondo de la barra lateral */
        z-index: 1000;
        /* Asegura que la barra lateral esté por encima del contenido */
    }

    /* Estilos para el contenido principal */
    main {
        width: 75%;
        padding: 24px;
        margin-top: 0;
    }
}