body {
  font-family: "-apple-system" !important;
}


/* Color Theme Swatches in Hex */
.card-title,
h1,
h2 {
  color: #E2E8F0;
}

.card {
  background: transparent;
  border-color: #416CA6;
}

.card-text {
  color: #94A4B8;
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition-delay: .3s;
}

.animated-on-scroll {
  opacity: 1;
  transition-delay: .5s;
  transform: translateY(0);
}

.shadow-sm {
  box-shadow: #2f3E44;
}

.card-title {
  font-size: 16px;
  margin-bottom: 8px;
}

/*ANIMACION*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.bg_animate {
  overflow-x: hidden;
  background: #0D1117;
}

.header_nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header_nav .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.header_nav h1 {
  color: #fff;
}

.header_nav nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.banner_title h2 {
  color: #fff;
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 20px;
}

.banner_title .llamanos {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  background: #1A2849;
  padding: 20px;
}

.banner_img {
  animation: movimiento 3.0s linear infinite;
}

@keyframes movimiento {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(0);
  }
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.card:hover {
  transform: translateY(-8px) rotate(1deg);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
  background-color: #0F0F0F;
}

.card-title {
  transition: color 0.3s ease;
}

.card:hover .card-title {
  color: #007bff;
}

.badge-container {
  margin-top: 10px;
}

.badge {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #E2E8F0;
  /* Color de fondo del badge */
  color: #0F0F0F;
  /* Color del texto del badge */
  margin-right: 5px;
  /* Espacio entre badges */
}

.social-icons a {
  color: #E2E8F0; /* Color de los iconos de redes sociales */
  font-size: 24px; /* Tamaño de los iconos de redes sociales */
}

.social-icons a:hover {
  color: #17a2b8; /* Cambio de color al hacer hover sobre los iconos de redes sociales */
}
