/* Estilos comunes */
body {
    font-family: 'GEORGIA', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

p {
    font-size: 14px;
}

.bold-text {
    font-weight: bold;
}

.emphasis-text {
    font-style: italic;
}

a:hover {
    color: #415EA3;
}

/* Estilos para el modo oscuro */
.theme-dark {
    background: #0d1117;
}

.theme-dark .card-text,
.theme-dark h2,
.theme-dark button>a,
.theme-dark pre,
.theme-dark p,
.theme-dark a {
    color: #fff!important;
    transition: color 0.3s ease;
}

.theme-dark .card {
    background: transparent;
    border: 1px solid #eaeaea;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.theme-dark a {
    color: #95abec;
    text-decoration: none;
    transition: color 0.3s ease;
}

.theme-dark a:hover {
    color: #4493F8;
}

.theme-dark i {
    fill: #FFFFFF;
    color: #FFFFFF;
    transition: fill 0.3s ease, color 0.3s ease;
}

.theme-dark i:hover {
    fill: #415EA3;
    color: #415EA3;
}

.theme-dark .badge {
    fill: #FFFFFF;
    padding: 5px 10px;
    border: 1px solid #eaeaea;
    border-radius: 20px;
    margin-bottom: 4px;
}

.theme-dark .card-title {
    color: #e6edf3;
    font-size: 16px;
    margin-bottom: 8px;
    transition: color 0.3s ease;
}

/* Estilos para el modo claro */
.theme-light .badge {
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 20px;
    color: #000;
    background-color: #fff;
}
.theme-light .ancors-container img {
    filter: grayscale(100%) brightness(0%) sepia(100%) hue-rotate(50deg) saturate(500%);
}
.theme-light .card {
    background: transparent;
    border: 1px solid #848D97;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.theme-light .card-title {
    color: #1c1c1c;
    font-size: 16px;
    margin-bottom: 8px;
    transition: color 0.3s ease;
}
.theme-light a {
    color: #fff;
}

.card:hover {
    transform: translateY(-8px) rotate(-1deg);
    box-shadow: 0 1px 2px;
}

.card:hover .card-title {
    /*color: */
}

.banner_img {
    animation: movimiento 3.0s linear infinite;
}

.badge-container {
    margin-top: 10px;
}

.badge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 4px;
    margin-bottom: 4px;
}

.social-icons a {
    font-size: 24px;
    margin-right: 8px;
}

.social-icons a:hover {
    /*color: */
}

/* Estilos del toggle */
.toggle-switch {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
}

.toggle-switch input {
    display: none;
}

.toggle-switch i {
    font-size: 23px;
    padding-left: 2px;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

/* Animación */
@keyframes movimiento {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

#sun-icon,
#moon-icon {
    cursor: pointer;
}

/* Estilos de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #6188FF;
}

@keyframes mover {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.move-element {
    animation: mover 2s forwards;
}

.styled-iframe {
    width: 100%;
    height: 400px;
    border-radius: 20px;
}

.ancors-container {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ancors-container li {
    /* display: inline-block; */
    margin-right: 24px;
}

.ancors-container a {
    color: #fff;
    text-decoration: none;
}

.svg {
    width: 30px;
    height: 30px;
}
.img-equal-size {
    height: 200px; /* Establece la altura deseada */
    width: auto; /* Ajusta automáticamente la anchura */
}