/* Estilos comunes */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

h1,
h2,
h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

p {
    font-size: 14px;
}

.bold-text {
    font-weight: bold;
}

.emphasis-text {
    font-style: italic;
}

a {
    color: #6188FF;
    transition: color 0.3s ease;
}

a:hover {
    color: #415EA3;
}


/* Estilos para el modo oscuro */
.theme-dark {
    background: #101d21;


    .card-text,
    h2 {
        color: #ecdfdb;
    }

    a {
        color: #6188FF;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    a:hover {
        color: #415EA3;
    }

    i {
        fill: #FFFFFF;
        color: #FFFFFF;
        transition: fill 0.3s ease, color 0.3s ease;
    }

    i:hover {
        fill: #415EA3;
        color: #415EA3;
    }

    .badge {
        fill: #FFFFFF;
        padding: 5px 10px; /* Ajusta el relleno según sea necesario */
        border: 2px solid #ccc; /* Ancho y color del borde */
        border-radius: 20px; /* Redondea las esquinas del badge */
        margin-bottom: 4px;
    }
}

/* Estilos para el modo claro */
.theme-light {
    .badge{
        padding: 5px 10px; /* Ajusta el relleno según sea necesario */
        border: 1px solid #000; /* Ancho y color del borde en modo oscuro */
        border-radius: 20px; /* Redondea las esquinas del badge */
        color: #fff; /* Color del texto en modo oscuro */
        background-color: #415EA3; /* Color de fondo en modo oscuro */
      }
}

/* Estilos de las tarjetas */
.card {
    background: transparent;
    /*border-color: */
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.card-text {
    /*color: */
}

.card-title {
    /*color: */
    font-size: 16px;
    margin-bottom: 8px;
    transition: color 0.3s ease;
}

.card:hover {
    transform: translateY(-8px) rotate(-1deg);
    box-shadow: 0 1px 2px
}

.card:hover .card-title {
    /*color: */
}

.banner_img {
    animation: movimiento 3.0s linear infinite;
}

.badge-container {
    margin-top: 10px;
}

.badge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 4px;
    margin-bottom: 4px;
}

.social-icons a {
    /*color: */
    font-size: 24px;
    margin-right: 8px;
}

.social-icons a:hover {
    /*color: */
}

/* Estilos del toggle */
.toggle-switch {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
}

.toggle-switch input {
    display: none;
}

.toggle-switch i {
    /*color: */
    font-size: 23px;
    padding-left: 2px;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

/* Animación */
@keyframes movimiento {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

#sun-icon,
#moon-icon {
    cursor: pointer;
    margin-bottom: 4px;
}