@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/scss/bootstrap';

$primary-color: #3498db;

body {
    background-color: #f2f2f2;
    color: $primary-color;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}